{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}


{% block main %}
    <div id="login-body">
        <section class="login-section">
            <form class="form-staff-student" action="/login" method="post">
                <div class="form-group">
                    <img src="/static/login/staff.jpg">
                </div>
                <input type="hidden" name="staff" value="staff">
                <button class="btn btn-primary" type="submit">Staff Login</button>
            </form>
        </section>
        <section class="login-section">
            <form class="form-staff-student" action="/login" method="post">
                <div class="form-group">
                    <img src="/static/login/student.jpg">
                </div>
                <input type="hidden" name="student" value="student">
                <button class="btn btn-primary" type="submit">Student Login</button>
            </form>
        </section>
    </div>
{% endblock %}
