{% extends "layout.html" %}
{% block title  %}
    Staff Log In
{% endblock%}

{% block main %}
<div  class="form-area">
    <form class="login-form" action="/staff_login" method="post">
        <div class="form-group">
            <img src="/static/login/staff.jpg">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="sregno" placeholder="Staff Number" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="SDOB" placeholder="Date of Birth DD-MM-YYYY" type="type">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <p><a class="footer" href="{{url_for('download', filename='staff_RegNo.xlsx')}}">For demo purpose please download Staff details</a></p>
</div>
{% endblock %}